/**
 * Elements
 */
$element__border-radius-base: 0;
$element__border-radius-small: $element__border-radius-base;
$element__border-radius-large: $element__border-radius-base;

$element__widget-radius: $element__border-radius-base;
