$font__sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font__serif:       Georgia, "Times New Roman", Times, serif;
$font__mono:        Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__main:        $font__sans-serif;
$font__heading:     $font__sans-serif;
$font__code:        $font__mono;
$font__pre:         "Courier 10 Pitch", Courier, monospace;

$font__size-h1:         3em;
$font__size-h2:         2.25em;
$font__size-h3:         1.75em;
$font__size-h4:         1.375em;
$font__size-h5:         1.125em;
$font__size-h6:         1em;
$font__size-small:      .875;
$font__size-smaller:    .75;
$font__size-smallest:   .6875;

$font__weight-default:  400;
$font__weight-bold:     700;

$spacing__body:        1.5;
$spacing__pre:         1.6;
$spacing__headings:    1.2;

$spacing__triple:  3;
$spacing__double:  2;
$spacing__base:    1;
$spacing__half:    .5;
$spacing__quarter: .25
